body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
 }
 
 header {
  background-color: #390684; /* Background color for the header */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px; /* Add padding for better spacing */
  color: #fff; /* Text color */
}

.logo img {
  cursor: pointer;
  height: 90px; /* Adjust the height as needed */
  width: 155px;
}

.navbar a {
  text-decoration: none;
  color: #fff; /* Link color */
  font-weight: bold;
  transition: color 0.5s ease;
}

.navbar a:hover {
  color: rgb(148, 148, 148);
}

.middle-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .middle-bar {
  display: flex;
}

.navbar .nav-links {
  margin-right: 20px; /* Adjust the margin to control spacing between links */
}


.button {
  background-color: #ffffff; /* Button background color */
  color: #000000; /* Button text color */
  border: none;
  padding: 10px 20px; /* Adjust padding for button size */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners for the button */
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;

}

.button:hover {
  background-color: black;
  color: rgb(255, 255, 255); /* Button background color on hover */
}

/*Home css*/
.hero {
  /* background-image: url('your-background-image.jpg'); */
  background-color: antiquewhite; /*for now until I get pictures.*/
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style for the content in the middle */
.content {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7); /* Add a semi-transparent background to the content */
  padding: 80px;
  border-radius: 10px;
}

.hero-title{
  font-size: 2.5em;
  margin: 0;
}

.hero-p {
  font-size: 1.2em;
  margin: 10px 0;
}

.hero-button {
  background-color: #390684;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2em;
}

.hero-button:hover {
    background-color: #3f0289b8;
}

/* About section in home component */

/* Styles for the "About" section */
.about-section {
  padding: 300px 200px 70px 200px;
  background-color: #e7e7e7;
  border: 2px black solid;
}

.about-content {
  border: 2px yellow solid;
  display: flex;
  justify-content: space-around;
}

.left-column {
  width: 50%;
  border: 2px green solid;
}

.left-column h2 {
  text-align: left;
  font-weight: bold;
  font-size: 3.5em;
  margin: 0;
  border: #390684 2px solid;
}

.left-column p {
  border: #390684 1px solid;
  font-size: 1.1em;
  text-align: left;
  line-height: 1.5;
  color: gray;
  /* letter-spacing: .1rem; */
}

.left-column ul {
  border: #390684 2px solid;
  display: grid;
  grid-template-columns: auto auto;
}

.right-column {
  width: 50%;
  border: 2px blue solid;
}

.purple {
  color: #390684;
}

.testimonial {
  display: flex;
  align-items: center;
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 30px;
  margin-bottom: 20px;;
}

.testimonial-content {
  flex: 1;
}

.testimonial-name {
  font-weight: bold;
}